@media (max-width:776px) {
    #cursor {
        font-size: 4vw;
    }

    #navUpper {
        height: 15vw;
    }

    #navUpper #logo {
        height: 14vw;

    }

    #navUpper #name {
        height: 10vw;

    }

    #navUpper #nccLogo {
        height: 15vw;
        margin-left: 7.8vw;
    }

    nav {
        height: 9vw;

    }

    nav #box1 h3 {
        font-size: 2.8vw;
    }

    nav #box2 #menu {
        font-size: 2.8vw;
    }

    #section1 #sideBar {
        top: 5.8%;
        height: 35vw;
        width: 30vw;

    }

    #section1 #sideBar h3 {
        font-size: 2.7vw;
    }

    #section1 .close {
        font-size: 3vw;
        position: absolute;
        top: 3%;
        right: 3%;
    }

    #greetings {
        height: 60vw;
    }

    #greetings #bx1 {
        font-size: 2.5vw;
    }

    .img-container h6 {
        font-size: 2.5vw;
    }

    #greetings #bx3 {
        font-size: 2.6vw;
    }

    #greetings #smallImgs {
        height: 19vw;
        width: 100vw;
    }

    #greetings #smallImgs img {
        height: 13.4vw;
    }

    #AboutUs {
        padding-top: 2vw;
        padding-left: 8vw;
        height: 35vw;
        flex-direction: column-reverse;
    }

    #AboutUs #textDiv {
        height: 35vw;
        width: 100vw;
    }

    #AboutUs #textDiv h1 {
        font-size: 4vw;
        text-decoration: underline;
    }

    #AboutUs #textDiv p {
        font-size: 2.6vw;
    }

    #AboutUs #textDiv #buttonDiv {
        height: 4vw;
    }

    #AboutUs #textDiv #buttonDiv button {
        height: 5vw;
        width: 20vw;
        padding: 0.5vw 0.5vw;
        font-size: 3.3vw;
    }

    #AboutUs #imgDiv img {
        display: none;
    }

    #enqForm {
        height: 105vw;
        flex-direction: column;
    }

    #enqForm form {
        height: 50vw;
        width: 97vw;
        font-size: 2.9vw;
    }

    #enqForm form input,
    select {
        height: 6vw;
        width: 93vw;
    }

    #enqForm form input::placeholder {
        font-size: 2.3vw;
    }

    #enqForm form select {
        font-size: 2.3vw;
    }

    #enqForm img {
        height: 40vw;
    }

    #enqForm form button {
        height: 6vw;
        width: 12vw;
        padding: 0.2vw;
        font-size: 2.3vw;
    }

    #keyPeople {
        height: 70vw;
        width: 100vw;
    }

    #keyPeople #textPart {
        height: 8vw;
        font-size: 2.5vw;
    }

    #keyPeople #imagePart {
        height: 55vw;
        gap: 1vw;
    }

    #keyPeople #imagePart #first-img-div {
        height: 44.8vw;
        width: 47.2vw;
    }

    #keyPeople #imagePart #first-img-div img {
        height: 44.8vw;
    }

    #keyPeople #imagePart #second-img-div {
        height: 44.8vw;
        width: 47.2vw;
    }

    #keyPeople #imagePart #second-img-div img {
        height: 44.8vw;
    }

    #knInfo {
        height: 44.7vw;
        width: 22vw;
        gap: 0.7vw;
        font-size: 1.6vw;
        padding: 1.3vw;
    }

    #knInfo p {
        font-size: 1.6vw;
    }

    #kn-wife-Info {
        height: 44.7vw;
        width: 22vw;
        gap: 0.7vw;
        font-size: 1.6vw;
        padding: 1.3vw;
    }

    #kn-wife-Info p {
        font-size: 1.6vw;
    }


    #flower img {
        display: none;
    }

    #movingTrack {
        height: 16vw;
        width: 100vw;
    }

    #movingTrack .choteyDabbey {
        height: 16vw;
        width: 58vw;
        gap: 7vw;
        border-radius: 2px solid black;
    }

    #movingTrack .choteyDabbey .track-img {
        height: 10vw;
    }

    #movingTrack .choteyDabbey .rotateArrow {
        height: 6vw;
    }

    footer {
        height: 60vw;
        gap: 1vw;
    }

    footer .footerchilds {
        height: 60vw;
        padding: 3vw;
        gap: 3vw;
        font-size: 2.5vw;
    }

    footer .zeroPadding iframe {
        height: 45vw;
        width: 23vw;
    }

}