* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    /* Keep the scrolling functionality */
    scrollbar-width: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Edge */
}

#cursor {
    position: fixed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 102, 0);
    font-weight: 900;
    pointer-events: none;
    z-index: 14;
}

#section1 {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

#navUpper {
    background-color: rgba(172, 189, 207, 0.61);
    height: 6vw;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#navUpper #logo {
    height: 6vw;
    mix-blend-mode: multiply;
    margin-left: 2vw;
}

#navUpper #name {
    height: 6vw;
    mix-blend-mode: multiply;

}

#navUpper #nccLogo {
    height: 6vw;
    margin-left: 46.6vw;
}

nav {
    z-index: 13;
    height: 4vw;
    width: 100vw;
    background-color: #002A5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw;
}

nav #box1 {
    margin-left: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

nav #box1 a {
    text-decoration: none;
}

nav #box1 h3 {
    font-size: 1.3vw;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

nav #box1 h3:hover {
    color: #bbbfbf;
}

#box2 #menu {
    margin-right: 1vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8vw;
    color: white;
    cursor: pointer;
    z-index: 14;
}

#section1 #sideBar {
    border: 0.1vw solid black;
    z-index: 14;
    position: absolute;
    right: 0.5%;
    top: 2.5%;
    height: 25vw;
    width: 20vw;
    border-radius: 1vw;
    padding: 1.5vw 2vw;
    background-color: rgba(255, 255, 255, 0.566);
    backdrop-filter: blur(2px);
    justify-content: center;
    flex-direction: column;
    gap: 3.4vw;
    box-shadow: -0.5vw 0.5vw 0.6vw rgba(61, 61, 61, 0.331);
    display: none;
}

#section1 #sideBar h3 {
    font-size: 1.7vw;
    font-family: Arial, Helvetica, sans-serif;
}

#section1 #sideBar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#section1 #sideBar a:hover {
    color: #0173ff;
}

#section1 #sideBar #box1{
    display: none;
}

#section1 .close {
    font-size: 2vw;
    position: absolute;
    top: 2%;
    right: 4%;
    display: none;
    z-index: 11;
}

#autoPlayVideo {
    height: 39.5vw;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#autoPlayVideo video {
    height: 39.5vw;
    width: 100vw;
    object-fit: cover;
}

#string1 {
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 100vw;
    position: absolute;
}

#string1 svg {
    height: 7vw;
    width: 100vw;
}

#string2 {
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 100vw;
}

#string2 svg {
    height: 7vw;
    width: 100vw;
}

#greetings {
    background-color: rgba(172, 189, 207, 0.61);
    height: 26vw;
    width: 100vw;
    border-radius: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vw;
    gap: 2.2vw;
}

#greetings #bx1 {
    width: 100vw;
    padding: 0 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

#greetings #bx2 {
    padding: 0 5.5vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
}

#greetings #bx3 {
    padding: 0 2.7vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
}
#greetings #imgFirstGrp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12vw;
}
#greetings #imgSecondGrp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12vw;
}
#greetings #imgThirdGrp{
    display: flex;
    align-items: center;
    justify-content: center;
}

#greetings #smallImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.5vw;
    height: 9vw;
    width: 99vw;
}

#greetings #smallImgs #img1,
#img2,
#img3,
#img4,
#img5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#greetings #smallImgs img {
    cursor: pointer;
    height: 7vw;
    animation: float 4s ease-in-out infinite;

}

@keyframes float {
    0% {
        transform: translateY(0vw);
    }

    50% {
        transform: translateY(-0.5vw);
    }

    100% {
        transform: translateY(0vw);
    }
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-container h6 {
    box-shadow: 0vw 0.5vw 0.6vw rgb(71, 74, 74);
    font-size: 1.3vw;
    color: rgb(0, 13, 59);
}

.heading {
    display: none;
    position: absolute;
    border-radius: 0.7vw;
    top: 1.1vw;
    width: 100%;
    text-align: center;
    background: linear-gradient(0.25turn, #95ADC7, hsl(194, 89%, 75%));
    color: white;
    padding: 0.5vw;
    box-sizing: border-box;
    pointer-events: none;
}

#AboutUs {
    height: 25.7vw;
    width: 100vw;
    background-color: rgb(149, 173, 199);
    border-radius: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#AboutUs #imgDiv {
    height: 25.7vw;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.3vw;
    overflow: hidden;
}

#AboutUs #imgDiv img {
    height: 25.7vw;
}

#AboutUs #textDiv {
    height: 25vw;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4vw;
    border-radius: 1.3vw;
}

#AboutUs #textDiv h1 {
    font-size: 3vw;
    text-decoration: underline;
}

#AboutUs #textDiv p {
    font-size: 1.5vw;
}

#AboutUs #textDiv #buttonDiv {
    height: 4vw;
    display: flex;
    align-items: center;
}

#AboutUs #textDiv #buttonDiv button {
    font-weight: 600;
    width: 10vw;
    padding: 0.5vw 0.5vw;
    font-size: 1.5vw;
    border-radius: 1vw;
    background: linear-gradient(0.25turn, #95ADC7, hsl(194, 89%, 75%));
    border: none;
    box-shadow: 0vw 0.5vw 0.6vw rgb(71, 74, 74);
    cursor: pointer;
}


#keyPeople {
    height: 28vw;
    width: 100vw;
    margin-top: 2.3vw;
    border-radius: 1.3vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#keyPeople #textPart {
    height: 3vw;
    width: 100vw;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#keyPeople #imagePart {
    height: 25vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.9vw;
}

#keyPeople #imagePart #first-img-div {
    height: 24.8vw;
    width: 37.2vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1.5vw;
    cursor: pointer;
    box-shadow: 0.5vw 0.5vw 0.6vw rgb(141, 155, 155);
}

#keyPeople #imagePart #first-img-div img {
    height: 24.8vw;
}

#knInfo {
    height: 24.8vw;
    width: 17vw;
    z-index: 12;
    position: absolute;
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: rgba(196, 206, 217, 0.534);
    backdrop-filter: blur(4px);
    right: 0;
}

#knInfo p {
    font-size: 0.9vw;
}

#kn-wife-Info {
    height: 24.8vw;
    width: 17vw;
    z-index: 12;
    position: absolute;
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 1.3vw;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: rgba(196, 206, 217, 0.584);
    backdrop-filter: blur(4px);
    right: 0;
}

#kn-wife-Info p {
    font-size: 0.9vw;
}

#flower img {
    width: 20vw;
    height: 23vw;
}

#keyPeople #imagePart #second-img-div {
    height: 24.8vw;
    width: 37.2vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1.5vw;
    cursor: pointer;
    box-shadow: -0.5vw 0.5vw 0.6vw rgb(141, 155, 155);
}

#keyPeople #imagePart #second-img-div img {
    height: 24.8vw;
}

#enqForm {
    margin-top: 2.3vw;
    height: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
}

#enqForm form {
    border-radius: 1.5vw;
    padding: 2vw;
    background-color: #BFD0E2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2vw;
    gap: 1vw;
}

#enqForm form input {
    font-size: 1.3vw;
}

#enqForm form input,
select {
    border-radius: 0.4vw;
    height: 3vw;
    width: 60vw;
}

#enqForm form select {
    padding: 0.1vw 1vw;
}

#enqForm form input {
    padding-top: 0.4vw;
    padding-left: 1vw;
}

#enqForm form input::placeholder {
    font-size: 1.3vw;
}

#enqForm form select {
    font-size: 1.3vw;
}

#enqForm form input:hover {
    background-color: rgba(234, 235, 235, 0.591);
}

#enqForm form select:hover {
    background-color: rgba(234, 235, 235, 0.591);
}

#enqForm form button {
    background: linear-gradient(0.25turn, #d0f08c, #45A049);
    width: 6vw;
    border-radius: 0.4vw;
    padding: 0.2vw;
    font-size: 1.3vw;
    font-weight: 600;

}

#enqForm img {
    height: 20vw;
}


#movingTrack {
    height: 8vw;
    width: 100vw;
    margin-top: 2.3vw;
    display: flex;
    align-items: center;
    overflow: hidden;

}

#movingTrack .choteyDabbey {
    height: 8vw;
    width: 34vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 6vw;
    transform: translate(0%);
}


#movingTrack .choteyDabbey .track-img {
    height: 7vw;
}

#movingTrack .choteyDabbey .cog {
    height: 3vw;
}

#movingTrack .choteyDabbey .rotateArrow {
    height: 3vw;
}


footer {
    margin-top: 2.3vw;
    height: 30vw;
    width: 100vw;
    background-color: #262649;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

footer .footerchilds {
    height: 30vw;
    width: calc(100vw / 4);
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    font-size: 1.1vw;
}

footer .footerchilds ul li:hover {
    font-size: 1.2vw;
}

footer .zeroPadding {
    padding: 0vw;
    align-items: center;
    justify-content: center;
}

footer .zeroPadding iframe {
    height: 25vw;
    width: 20vw;
    border-radius: 0.5vw;
}
